*{
	margin: 0px;
	padding: 0px;
	font-family: 'Rubik';
}

p{
  font-size: 16px;
}


/* URL Relocation India - Success Story*/

.urlrelocation-header{
  background-color: #FEC70F;
  width: 100%;
  height: 400px;
}

.urlrelocation-header .header h1{
  text-align: center;
  margin-top: 90px;

}

.urlrelocation-header img{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: -50px;
}


.intro-urlrelocation ol{
  list-style: none;
}

.intro-urlrelocation .solutions{
  font-size: 16px;
  counter-increment: my-awesome-counter;
  margin-bottom: 10px;
  display: list-item;
}

.intro-urlrelocation .solutions::before {
  content: counter(my-awesome-counter) ". ";
  color: #000;
  font-weight: bold;
}

.intro-urlrelocation ul{
  list-style: none;
}

.intro-urlrelocation ul li{
  font-size: 16px;
  counter-increment: my-awesome-counter;
  margin-bottom: 10px;
  display: list-item;

}

.intro-urlrelocation ul li::before {
  content: "■";
  padding-left: 0px;
  padding-right: 5px;
}

.platform-offered .growth-result{
    margin-left: 0px;
  }

  .smm-div {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 60px;
    margin-bottom: 30px;
  }



@media only screen and (max-width: 1024px){
.urlrelocation-header img{
   margin-top: -70px;
}
}

@media only screen and (max-width: 768px){
  .urlrelocation-header .header h1{
    font-size: 30px;
  }

  .platform-offered .growth-result{
    margin-left: 0px;
    padding-left: 8px;
  }

}

@media only screen and (max-width: 425px){
  .urlrelocation-header .header h1{
    font-size: 29px;
  }

  .urlrelocation-header img{
   margin-top: -20px;
}

.intro-urlrelocation p{
  text-align: justify;

}

  .platform-offered .growth-result{
    padding-top: 20px;
  }

  p{
    text-align: justify;
  }

  li{
    text-align: justify;
  }


}

@media only screen and (max-width: 375px){
  .urlrelocation-header .header h1{
    font-size: 27px;
  }

  .urlrelocation-header img{
   margin-top: -20px;
}

  .intro-urlrelocation h2{
  font-size: 25px;

}


}

@media only screen and (max-width: 320px){
  .urlrelocation-header .header h1{
    font-size: 23px;
  }

  .intro-urlrelocation h2{
  font-size: 22px;

}


}


