*{ font-family: 'Rubik', sans-serif; margin: 0; padding: 0; }


a {
  color: #000000;
}

/* header-navbar */
	
.header {
  background-color: #4f4085;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;

}



.navsection {

  margin-top: 16px;
}


.header .logo {
  display: block;
  float: left;
  margin-left: 15px;
  margin-top: -3px;
}


/* menu-hover-effect */



/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #ffffff;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 28px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 8px;
}

.header .menu-icon .nav-icon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
  background-color: #4f4085=;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/*mobile-veiw*/

@media (min-width: 769px) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  

} 



/* header */


.main-header{

width: 100%;
height: 625px;
background-color: #4f4085;
display: inline-block;
padding-top: 170px;

}

 
 .main-header h2{
  font-size: 52px;
  font-weight: bold;
  color: #ffffff;
  text-transform: unset;
  font-family: lato;
  margin-top: 40px;
  text-align: left;

}


/* main-header */

@media only screen and (max-width: 1024px) {


.main-header img{
	padding-top: 80px;
}


}

@media only screen and (max-width: 786px) {


.main-header img{
	padding-top: 30px;
	max-width: 400px;
	max-height: 300px;
	margin-left: -80px;

}


.main-header{
	padding-top: 140px;
	height: 650px;
}


}

@media only screen and (max-width: 425px) {


.main-header img{
	display: none;
}

.main-header{
	padding-top: 150px;
	height: 650px;
}

}

@media only screen and (max-width: 375px) {


.main-header h2{
	font-size: 43px;
}

}


@media only screen and (max-width: 320px) {


.main-header h2{
	font-size: 40px;
}

}








































/* footer */


.page-footer h6{
  color: #fff;
  font-weight: 300;

}

.page-footer i{
  color: #fff;
}

.page-footer button{
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4f4085;
  border-radius: 10px;
}

.page-footer a{
  text-decoration: none;
  color: #fff;
}

.page-footer a:hover{
  text-decoration: none;
  color: #4f4085;
}


.fa-facebook-f:hover{
  color: #3B5998;
}

.fa-twitter:hover{
  color: #55ACEE;
}

.fa-google-plus:hover{
  color: #dd4b39;
}

.fa-linkedin:hover{
  color: #007bb5;
}

.fa-instagram:hover{
  color: #e4405f;
}


.footer-company{

margin-bottom: -15px;

}

.footer-services{

margin-bottom: -15px;

}

.footer-contact{

margin-bottom: -15px;

}








@media (min-width: 768px) and (max-device-width: 768px){

.page-footer .container{
  margin-left: 70px;
}

}



@media only screen and (max-width: 425px){

.footer-company{

margin-top: 15px;
margin-bottom: -15px;

}

.footer-services{

margin-top: 10px;
margin-bottom: -15px;

}

.footer-contact{

margin-top: 10px;
margin-bottom: -15px;

}

.footer-company-div{
  text-align: left;
}

.footer-services-div{
  text-align: left;
}

.footer-contact-div{
  text-align: left;
}

}


/* contact-us-page */

.contact-page{
  padding-top: 200px;
}
